.error {
    color:red;
    font-size: medium;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    font-style: bold;
    background: lightgray;
}

.notification {
    color: green;
    background-color: lightgrey;
    font-size: medium;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}